<ng-container *ngIf="orderItems.length != 0">
    <div>
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Inventory</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Product Id</th>
                    <th>Quantity</th>
                </tr>
                <tbody>
                    <tr *ngFor="let orderItem of orderItems; let i = index">
                        <td>{{orderItem.product.category}}</td>
                        <td>{{orderItem.product.description}}</td>
                        <td>{{orderItem.product.inventory}}</td>
                        <td>{{orderItem.product.name}}</td>
                        <td>{{orderItem.product.price}}</td>
                        <td>{{orderItem.product.productId}}</td>
                        <td>{{orderItem.quantity}}</td>
                        <td><input (click)="removeProduct(this.orderItem)" type="submit" value="delete"></td>
                    </tr>
                </tbody>
        </table>
        <p>Order Total: ${{grandTotal}}</p>
        <input (click)="removeAllProducts()" type="submit" value="delete">
        <input (click)="goToCheckout()" type="submit" value="checkout">
    </div>
</ng-container>

<ng-container *ngIf="orderItems.length == 0">
    <p>Put some items in your cart</p>
</ng-container>
