<span>Update your credentials</span>
<form (ngSubmit)="onClick(username,password,firstName,lastName,email, phone)" #signInForm="ngForm">
    <div class="group">
        <label for="firstname">First Name</label>
        <input type="firstname" class="form-input" id="firstname" required name="firstname" [(ngModel)]="firstName" />
    </div>
    <div class="group">
        <label for="lastname">Last Name</label>
        <input type="lastname" class="form-input" id="lastname" required name="lastname" [(ngModel)]="lastName" />
    </div>
    <div class="group">
        <label for="username">Username</label>
        <input type="username" class="form-input" id="username" required name="username" [(ngModel)]="username" />
    </div>
    <div class="group">
        <label for="email">Email</label>
        <input type="email" class="form-input" id="email" required name="email" [(ngModel)]="email" />
    </div>
    <div class="group">
        <label for="password">Password</label>
        <input type="password" class="form-input" id="password" required name="password" [(ngModel)]="password" />
    </div>
    <div class="group">
        <label for="phone">Phone Number</label>
        <input type="phone" class="form-input" id="phone" required name="phone" [(ngModel)]="phone" />
    </div>
    <!-- <div class="group">
    <label for="comfirmPassword">Confirm Password</label>
    <input
      type="password"
      class="form-input"
      id="comfirmPassword"
      required
      name="comfirmPassword"
      [(ngModel)]="confirmPassword"
    />
  </div> -->

    <button class="custom-button" type="submit" [disabled]="!signInForm.form.valid">
        Update Info
    </button> | 
    <button class="custom-button" type="submit"  (click)="logout()">Logout</button>
</form>




<router-outlet></router-outlet>